.product-card {
  width: 350px;
  margin: 50px auto;
  background: rgb(228, 245, 250);
  border-radius: 10px;
  box-shadow: 5px 10px 18px #888888;
  overflow:hidden;
  padding: 20px;
}

.product-details {
  padding: 10px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}



.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: rgb(27, 23, 23);
}

/* .product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  /* padding-top: 20px; */
/* }  */

/* .product-bottom-details div {
  /* float: left; */
  /* width: 50%;
/* } */ 

/* .product-price {
  font-size: 18px;
  color: #423d32;
  font-weight: 600;
} */

/* .product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
} */

.product-links {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* .product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #f71111;
  transition: 0.3s;
  font-size: 20px;
} */

/* .product-button{
  padding: 10px 10px 10px 10px;
  color: rgb(242, 231, 231);
  background-color:#a5b2f0;
  color: black;
  font-size: 14px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  border-radius: 5px;
  width: 40%;
  border: 1px solid #d1ded5;
  border-width: 1px 1px 1px 1px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  margin-top: 10px;
} */
.delete-icon{
  color: rgb(245, 81, 81);
  font-size: 30px;
}
.update-icon{
  color: rgb(73, 207, 237);
  font-size: 30px;
}